@inherits LayoutComponentBase
@inject TypingTrainerContext AppState
<style>
    .nav-link-white {
        color: white !important;
    }

    .auth-link {
        margin-left: auto;
    }
</style>
<div>
    <Layout ShowFooter="true" AdditionalAssemblies="[typeof(MainLayout).Assembly]">
        <Header>
@*             <Nav IsVertical="false" class="w-100">
                <NavLink class="btn btn-link nav-link-white" href="trainer" Match="NavLinkMatch.All">Typing Master</NavLink>
                @if (AppState.IsLoggedIn)
                {
                    <NavLink class="btn btn-link nav-link-white" href="trainer" Match="NavLinkMatch.All">Lessons</NavLink>
                }
                <NavLink class="btn btn-link nav-link-white" href="#">Test</NavLink>
                <NavLink class="btn btn-link nav-link-white" href="reports">Reports</NavLink>
                <NavLink class="btn btn-link nav-link-white" href="leaderboard">Options</NavLink>
                <NavLink class="btn btn-link nav-link-white" href="leaderboard">Game</NavLink>
                <NavLink class="btn btn-link nav-link-white" href="leaderboard">Help</NavLink>
                @if (AppState.IsLoggedIn)
                {
                    <NavLink class="btn btn-link nav-link-white auth-link" href="leaderboard">Logout</NavLink>
                }
                else
                {
                    <div class="auth-link">
                        <NavLink class="btn btn-link nav-link-white" href="login">Login</NavLink>
                        <NavLink class="btn btn-link nav-link-white" href="signup">SignUp</NavLink>
                    </div>
                }

            </Nav>
*@
            <nav class="navbar navbar-expand-lg w-100" data-bs-theme="dark">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">Typing Master</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavDropdown">
                        <ul class="navbar-nav me-auto">
                            @if (AppState.IsLoggedIn)
                            {
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="trainer" href="#">Lessons</a>
                                </li>
                            }
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    Test
                                </a>
                                <ul class="dropdown-menu">
                                    @if (AppState.IsLoggedIn)
                                    {
                                        <li><a class="dropdown-item" href="#">Practice Test</a></li>
                                    }
                                    <li><a class="dropdown-item" href="#">All Key Test</a></li>
                                    <li><a class="dropdown-item" href="#">Number Pad</a></li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Report</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Game</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Help</a>
                            </li>
                        </ul>
                        <ul class="navbar-nav">
                            @if (AppState.IsLoggedIn)
                            {
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                        aria-expanded="false">
                                        @AppState.CurrentAccount?.AccountName
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-end">
                                        <li><a class="dropdown-item" href="#">Profile</a></li>
                                        <li><a class="dropdown-item" href="#">Settings</a></li>
                                        <li>
                                            <hr class="dropdown-divider">
                                        </li>
                                        <li><a class="dropdown-item" href="#">Logout</a></li>
                                    </ul>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item">
                                    <a class="nav-link" href="login">Login</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="signup">SignUp</a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </nav>
        </Header>
        <Main>
            @Body
        </Main>
        <Footer>Developing mode</Footer>
    </Layout>
</div>
