.history-dropdown-menu {
    max-height: 100px;
    overflow-y: auto;
}

.table {
    margin-bottom: 0;
}

    .table th {
        position: sticky;
        top: 0;
        background: white;
        z-index: 1;
    }

.no-history {
    text-align: center;
    padding: 10px;
}
