@* PracticeHistory.razor *@
<style>
    .dropdown-menu {
        max-height: 100px;
        overflow-y: auto;
    }

    .table {
        margin-bottom: 0;
    }

        .table th {
            position: sticky;
            top: 0;
            background: white;
            z-index: 1;
        }
</style>

<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownTable" 
            data-bs-toggle="dropdown" aria-expanded="@_isOpen">
            Practice History
    </button>

    <div class="dropdown-menu w-100" style="min-width: 300px;">
        <div class="p-2">
            <table class="table table-hover mb-0">
                <thead>
                <tr>
                    <th>Wpm</th>
                    <th>Accuracy</th>
                    <th>Practice Result</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var stats in StatsList)
                {
                    <tr style="cursor: pointer;">
                        <td>@stats.Wpm</td>
                        <td>@stats.Accuracy</td>
                        <td>@stats.GetSkillLevel()</td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public IList<TypingStats> StatsList { get; set; } = null!;

    private bool _isOpen { get; set; }
}